@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: white;
  font-family:
    Roboto Flex,
    sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  /* width: 100vw; */
  /* max-width: 2352px; */
  /* justify-content: center; */
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #5844ff;
}

@layer components {
  p {
    @apply text-lg text-[14px];
  }
  .btn-primary {
    @apply font-semibold text-white bg-purple-100 py-2xs px-sm rounded-xs hover:bg-purple-dark focus:outline-none focus:ring;
  }
  .btn-primary:disabled {
    @apply cursor-not-allowed bg-purple-60;
  }
  .btn-outline {
    @apply py-2xs px-sm  bg-none text-purple-100 font-semibold rounded-xs border-purple-100 border-2 focus:ring;
  }
  .input-default {
    @apply bg-white border border-purple-100 py-xs px-sm rounded-xs focus:outline-1 focus:outline-purple-dark;
  }
  .input-default:disabled {
    @apply opacity-30 cursor-not-allowed;
  }
  a {
    @apply text-purple-100 font-[14px] hover:text-purple-dark;
  }
}

.p-menuitem {
  @apply hover:bg-purple-20 rounded-xs py-[2px] hover:cursor-pointer;
}

.p-menuitem-active {
  @apply bg-purple-20 rounded-xs;
}
